body {
  -webkit-print-color-adjust: exact !important;
}
#masthead {
    margin:0 auto;
    text-align:center;
}

.center {
    margin:0 auto;
}

.medTopMargin {
    margin-top:15px;
}

.fixed-table-loading {
    display:none;
}
.cleanPic {
    background-color:#d6d6d6;
    
    background: url("/static/northpolar.jpg") no-repeat center;
    height:600px;
    position:relative;
    }
    .cleanPic h1 {
        position:absolute;
        text-align:center;
        font-size:4em;
        font-weight:600;
        bottom:10px;
        width:100%;
    }
    
    .white {
        color:white;
    }
    
    body .businessCard, div.businessCard:after, div.businessCard:before,  .container-fluid.business {
  background: url("/static/tweed.png");
  }



div.businessCard {
  
  width: 100%;
  position: relative;
  margin: 3em auto;
  padding: 4em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7), 0 1px #fff inset, 0 0 5em rgba(0, 0, 0, 0.2) inset, 0 0 2em rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background: #eee;
}

div.businessCard:after, div.businessCard:before {
  height: 3em;
  width: 3em;
  position: absolute;
  content: '';
  border-radius: 50%;
}

div.businessCard:after {
  left: -1em;
  top: -1em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2), 1px 1px #000;
}

div.businessCard:before {
  right: -1em;
  bottom: -1em;
  box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.2), -1px -1px rgba(255, 255, 255, 0.4);
}

.noDots {
    list-style:none;
}

.smallPaddingLeft{
    padding-left:8px;
}

.noPadding {
    padding:0;
}

.smallerFont {
    font-size:.85em;
}

.hidable {
    
    cursor:pointer;
    margin-left:15px;
    position:relative;
    top:0;
    right:0;
}

.hidableHover {
    background-color:rgba(191, 32, 32, 0.25);
}

.lead ul {
    max-width:400px;
}