{% extends "single.html" %}
{% load staticfiles i18n %}
{% block content %}
<div class="basketballFloor template">
<!-- Full Width Image Header -->
    <header class="header-image basketballBG">
        <div class="headline">
            <div class="container-fluid " >
                <h1>Most Valuable Player</h1>
                <h2>If you got the cap space</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container-fluid">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right col-md-5" src="{% static "bio.jpg" %}" width="500px"/>
            <h2 class="featurette-heading">Stat Breakdown:<br/>
                <span class="text-muted">{{ student }}</span>
            </h2>
           
                <div class="lead">
                    <ul>
                        {% if student.school %}
                       <li> School: {{ student.school }} </li>
                      
                        {% endif %}
                        {% if student.major %}
                      <li>  Major: {{ student.major }} </li>
                        
                       {% endif %}
                        {% if student.gpa %}
                      <li>  GPA: {{ student.gpa }} </li>
                        
                        {% endif %}
                        {% load show_all_from_field %}
                        {% show_all_from_field 'Hobbies' student.hobbies %}                      
                        {% show_all_from_field 'Accomplishments' student.accomplishments %}  
                        {% show_all_from_field 'Activities' student.activities %}                       
                        {% show_all_from_field 'Interests' student.areas_of_interest %}
                        {% if student.quotes %}
                            {% for quote in student.quotes.all %}
                            <!-- fix later for more than one quoate-->
                            <blockquote class="myblockquote leftQuote"><p>{{ quote }}</p>
                                <footer><cite>{{ student.first_name }}</cite></footer>
                            </blockquote>
                            {% endfor %}
                       {% endif %}
                        
                        {% if student.story %}
                        <li> 
                            {{ student.story|safe }}
                        </li>
                        {% endif %}
                         {% load edit_story_form %}
                         {% show_modal_button student.pk %}  
                    </ul>
                </div>
                <!-- Modal -->

      
            
            </div>

        <hr class="featurette-divider">
{% if student.reviews %}
        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left col-md-5" src="{% static "microsoft.jpg" %}" width="500px">
            <h2 class="featurette-heading">Scouting Report<br/>
                <span class="text-muted">What the experts are saying:</span>
            </h2>
            <p class="lead">
           
                
                 {% for review in student.reviews.all %}
                <blockquote class='pull-quote rightQuote'>
                    <p>
                   
                    {{ review.description }}
                   
                    </p>
                    <footer><cite>{{ review.reviewer }}</cite></footer>
                </blockquote>
                 {% endfor %}
                           
               
            </p>
            </div>

        <hr class="featurette-divider">
 {% endif %}  
    
</div>
    {% load edit_story_form %}
    {% show_all_from_field student form %}        

{% endblock content %}