{% extends 'base.html' %}
{% block additional_includes %}
{% load staticfiles i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'templates.css' %}" />
{% endblock %}

{% block content %}
{% block masthead_block %}
{% endblock %}



    <!-- Page Content -->
    <div class="container-fluid template">
    <div class="col-md-6 cleanPic">
       

                 <h1 class="white">{{ student }}</h1>
    </div>
            <div class="col-md-6">
           
                <div class="lead">
                <h2>About {{ student.first_name }}: <button type="button" class="btn btn-primary btn-lg hidden-print pull-right" data-toggle="modal" data-target="#myModal">Edit Story</button>
           </h2>
                 {{ student.story|safe }}
                    <ul>
                   
                        {% if student.school %}
                       <li> School: {{ student.school }} </li>
                      
                        {% endif %}
                        {% if student.major %}
                      <li>  Major: {{ student.major }} </li>
                        
                       {% endif %}
                        {% if student.gpa %}
                      <li>  GPA: {{ student.gpa }} </li>
                        
                        {% endif %}
                        {% if student.hobbies %}
                        <li>Hobbies: 
                        {%  for hobby in student.hobbies.all  %} 
                            {{ hobby }}
                        {% endfor %} 
                        </li>
                       {% endif %}
                        {% if student.accomplishments %}
                        <li>Accomplishments: 
                        {%  for accomplishment in student.accomplishments.all  %}
                                {{ accomplishment }}
                        {% endfor %} 
                        </li>
                       {% endif %}
                       {% if student.activities %}
                       <li> Activities: 
                        {%  for activity in student.activities.all  %}
                                {{ activity }}
                        {% endfor %} 
                        </li>
                       {% endif %}
                        {% if student.interests %}
                       <li> Interests: 
                        {%  for interest in student.interests.all  %}
                                {{ interest }}
                        {% endfor %} 
                        </li>
                        {% endif %}
                        {% if student.quotes %}
                        <!-- fix later for more than one quoate-->
                        <blockquote class="myblockquote leftQuote"><p>{{ student.quotes }}</p>
                            <footer><cite>{{ student.first_name }}</cite></footer>
                        </blockquote>
                       {% endif %}
                        
                        {% if student.story %}
                        <li> Story: 
                                {{ student.story|safe }}
                        
                        {% load edit_story_form %}
                        {% show_modal_button student.pk %}  
                        </li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
                <!-- Modal -->

      
            
            </div>

    
</div>
{% load edit_story_form %}
{% show_all_from_field student form %}        
{% endblock content %}