{% extends "single.html" %}
{% load staticfiles i18n %}

{% block content %}<h2>{{ student }}</h2>
<ul>
    {% if student.student_id %}
        <li>  ID: {{ student.student_id }} </li>
    {% endif %}
    {% if student.school %}
        <li> School: {{ student.school }} </li>
    {% endif %}
    {% if student.magnet_program %}
        <li> Magnet Program: {{ student.magnet_program }} </li>
    {% endif %}
    {% if student.major %}
        <li>  Major: {{ student.major }} </li>
    {% endif %}
    {% if student.gpa %}
        <li>  GPA: {{ student.gpa }} </li>
    {% endif %}
    {% load show_all_from_field %}
    {% show_all_from_field 'Hobbies' student.hobbies %}
    {% show_all_from_field 'Accomplishments' student.accomplishments %}                        
    {% show_all_from_field 'Competitions' student.competitions %}                        
    {% show_all_from_field 'Activities' student.activities %}                       
    {% show_all_from_field 'Interests' student.areas_of_interest %}                       
    {% show_all_from_field 'Projects' student.projects %}                       
    {% show_all_from_field 'Quotes' student.quotes %} 
    {% show_all_from_field 'Future Plans' student.future_plans %}   
    {% show_all_from_field 'Employers' student.employers %}  
    {% show_all_from_field 'Reviews' student.reviews %}    
    {% show_all_from_field 'Tasks' student.tasks %}                     
                        
    {% if student.story %}
        <li>
            {{ student.story|safe }}   
        </li>
    {% endif %}
    {% load edit_story_form %}
    {% show_modal_button student.pk %}  
</ul>
{% load edit_story_form %}
    {% show_all_from_field student form %}        
{% endblock content %}