{% extends "base.html" %}

{% block content %}
<form method="post">
    <input id="name_input" name="name_input" placeholder="Search"/>
    {% csrf_token %}
</form>
{% if users %}
     <div class="table-responsive">
                 
                    <table class="table" id="id_table" data-toggle="table" >
                    <thead>
                    <tr>
                        <th data-field="state" ></th>
                       <!-- <th>Student ID</th>
                         <th>Name</th>
                        <th>Pathway</th>
                        <th>GPA</th>
                        <th>Link</th>
                        -->
                    </tr>
                    </thead>
                    <tbody>
                    
                        {% for user in users %}
                        <tr>
                             <td>{{ user.username }}</td>
                         
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                    </table>
                    
                 </div>
    {% elif request.POST %}
                        <p class="has-error">Search field can not be blank</p>
    {% endif %}
{% endblock content %}