{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-3">
{% crispy form %}
    
</div>
<div class="col-md-9">
{% if students %}
     <div class="table-responsive">
                 
                    <table class="table" id="id_table" data-toggle="table" >
                    <thead>
                    <tr>
                        <!-- <th data-field="state" ></th>
                       <th>Student ID</th> -->
                         <th>Name</th>
                    <!--      <th>Pathway</th> -->
                        <th>GPA</th>
                      <!-- <th>Link</th> --> 
                       
                    </tr>
                    </thead>
                    <tbody>
                    
                        {% for student in students %}
                        <tr>
                             
                            <td>{{ student.user.username }}</td>
                            <td>{{student.gpa }}</td>
                         
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                    </table>
                    
      </div>    
    
    {% elif form.errors %}
        <div class="form-group has-error">
                <div class="help-block">{{ form.text.errors }}</div>
            <div class="help-block">{{ form.non_field_errors }}  </div>
            
            </div>
    {% endif %}
</div>
{% endblock content %}