{% extends "base.html" %}

{% block content %}
<form method="post">
    <label for="gpa_input">Enter GPA</label>
    <input id="gpa_input" name="gpa_input" />
    {% csrf_token %}
</form>
{% if students %}
     <div class="table-responsive">
                 
                    <table class="table" id="id_table" data-toggle="table" >
                    <thead>
                    <tr>
                        <!-- <th data-field="state" ></th>
                       <th>Student ID</th> -->
                         <th>Name</th>
                    <!--      <th>Pathway</th> -->
                        <th>GPA</th>
                      <!-- <th>Link</th> --> 
                       
                    </tr>
                    </thead>
                    <tbody>
                    
                        {% for student in students %}
                        <tr>
                             
                            <td>{{ student.user.username }}</td>
                            <td>{{student.gpa }}</td>
                         
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                    </table>
                    
                 </div>
    {% elif not gpa %}
                        <p class="has-error">GPA field can not be blank</p>
    
    {% else %}
                        <p class="has-error">GPA must be a number</p>
    {% endif %}
{% endblock content %}