{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-3">
{% crispy form %}
    
</div>
<div class="col-md-9">
{% if students %}
    <form method="POST" action="{% url 'home' %}" id="multi-select">
         {% csrf_token %}
     <div class="table-responsive">
                 
                    <table class="table" id="id_table" data-toggle="table" >
                    <thead>
                    <tr>
                        <th data-field="state" >Check</th>
                     <!--   <th>Student ID</th> -->
                         <th>Name</th>
                    <!--      <th>Pathway</th> -->
                        <th>Major</th>
                        <th>GPA</th>
                      <th>Link</th> 
                       
                    </tr>
                    </thead>
                    <tbody>
                    
                        {% for student in students %}
                        <tr>
                            <td><input type="checkbox" id="check-{{student.pk}}" value="{{student.pk}}" name="choices" /></td> 
                            <td>{{ student.user.username }}</td>
                            <td>{{student.major }}</td>
                            <td>{{student.gpa }}</td>
                            <td><a id="view-{{student.pk }}" href="{% url 'select_template:select_for_single' pk=student.pk  %}">View</a></td>
                         
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                    </table>
                    <input type="submit" id="multi-submit" name="multi-submit" class="btn btn-outline btn-primary btn-lg btn-block medTopMargin" value="Select" />
      </div>    
    </form>
    {% elif form.errors %}
        <div class="form-group has-error">
            <div class="help-block">{{ form.text.errors }}</div>
            <div class="help-block">{{ form.non_field_errors }}  </div>
            
        </div>
    {% endif %}
</div>
{% endblock content %}